# For unnecessary files or folders to GitHub:
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.rar
__pycache__
.vscode

# For Data Handling Tutorial:
/data.csv

# For Python MySQL Tutorial:
mysql_credentials.py

# For Python MongoDB Tutorial:
playground-1.mongodb.js
mongodb_credentials.py

# For Python MCM:
mcm_pruebas.py
